In [1]:
from sqlalchemy import create_engine
import pandas as pd
%matplotlib inline

In [2]:
cnxn_string = ("postgresql+psycopg2://{username}:{pswd}"
              "@{host}:{port}/{database}")
print(cnxn_string)

postgresql+psycopg2://{username}:{pswd}@{host}:{port}/{database}

In [3]:
engine = create_engine(cnxn_string.format(
username = "postgres",
pswd="0880",
host="localhost",
port=5432,
database="school"))

In [70]:
engine.execute("select * from city limit 2;").fetchall()

[(1, 'Kabul                              ', 'AFG', 'Kabol               ', 1780000),
 (2, 'Qandahar                           ', 'AFG', 'Qandahar            ', 237500)]

In [71]:
language_data = pd.read_sql_table('countrylanguage',engine)

In [98]:
query = """
SELECT

DISTINCT

countrylanguage.countrycode AS "Country Code", COUNT(countrylanguage.isofficial) AS "Language"

FROM

countrylanguage

WHERE

isofficial = 'T'

GROUP BY

countrycode

HAVING

COUNT(countrylanguage.isofficial) > 

;
"""

In [99]:
language_data = pd.read_sql_query(query, engine)

In [100]:
language_data

  Country Code  Language
0          VUT         3
1          CHE         4
2          LUX         3
3          ZAF         4
4          BEL         3
5          BOL         3
6          PER         3
7          SGP         3